:root {
    --my-green: #198754;
    --darker-green: #0f5132;
}

#welcomeHeader {
    border: 3px solid var(--my-green);
    border-radius: 40px;
    max-width: 600px;
}

input,
select {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid var(--my-green);
    width: 100%;
}

.my_card {
    width: 200px;
    height: 280px;
    border: 2px solid var(--my-green);
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

.text-my-green {
    color: var(--my-green);
}

.bg-my-green {
    background-color: var(--my-green);
}

.bg-my-green:hover {
    background-color: var(--darker-green);
}
